<section class="text-gray-600 body-font" dir="rtl">
  <div class="w-full px-5 badr">
    <div class="flex flex-wrap w-full my-5 mx-auto">
      <div class="w-full mr-5 flex items-center md:items-start flex-col">
        <h1 class="sm:text-4xl text-2xl font-medium title-font mb-2 text-brown bkodak">دسترسی سریع</h1>
        <div class="h-1 w-56 bg-crimson rounded"></div>
      </div>
    </div>
    <div class="flex flex-wrap -m-4 text-center cus-card">
      <div class="p-4 sm:w-1/4 w-1/2 " (click)="navigate('customer/foods')" name="FoodReserve">
        <div class="flex flex-col items-center justify-center rounded-lg h-22 pb-4 p-2 md:flex-row">
          <!-- <i class="text-4xl mb-3 md:ml-4 md:-mb-1 fas fa-pizza-slice"></i> -->
          <ion-icon name="fast-food" class="text-4xl mb-2 md:ml-4 md:-mb-1"></ion-icon>
          <p class="leading-relaxed text-xl md:text-2xl md:mt-3 font-bold">رزرو غذا</p>
        </div>
      </div>
      <div class="p-4 sm:w-1/4 w-1/2" (click)="navigate('customer/desks')">
        <div class="flex flex-col items-center justify-center rounded-lg h-22 pb-4 p-2 md:flex-row">
          <!-- <mat-icon class="text-6xl md:ml-4 md:mb-2"> local_bar</mat-icon> -->
          <ion-icon class="text-5xl md:ml-4 md:-mb-1" name="albums-outline"></ion-icon>
          <p class="leading-relaxed text-xl md:text-2xl md:mt-3 font-bold">رزرو میز</p>
        </div>
      </div>
      <div class="p-4 sm:w-1/4 w-1/2" (click)="navigate('customer/shopping')">
        <div class="flex flex-col items-center justify-center rounded-lg h-22 pb-4 p-2 md:flex-row">
          <!-- <mat-icon class="text-6xl mb-0 md:ml-4 md:mb-2">shopping_cart</mat-icon> -->
          <ion-icon class="text-5xl md:ml-4 md:-mb-1" name="cart-outline"></ion-icon>
          <p class="leading-relaxed text-xl md:text-2xl md:mt-3 font-bold">سبد خرید</p>
        </div>
      </div>
      <div class="p-4 sm:w-1/4 w-1/2">
        <div class="flex flex-col items-center justify-center rounded-lg h-22 p-2 md:flex-row">
          <!-- <mat-icon class="text-6xl md:ml-4 md:mb-6" style="width: 50px;height: 50px;">credit_card</mat-icon> -->
          <ion-icon class="text-5xl md:ml-4 md:-mb-1" name="card-outline"></ion-icon>
          <p class="leading-relaxed text-xl md:text-2xl md:mt-3 mb-2 font-bold">تراکنش های گذشته</p>
        </div>
      </div>
    </div>
  </div>
  <!-- درباره ما -->
  <div class="w-full px-5">
    <div class="flex flex-wrap w-full my-5 mx-auto">
      <div class="w-full mr-5 flex items-center md:items-start flex-col">
        <h1 class="sm:text-4xl text-2xl font-medium title-font mb-2 text-brown bkodak">درباره ما</h1>
        <div class="h-1 w-56 bg-crimson rounded"></div>
      </div>
      <div class="w-full border-2 shadow-xl border-brown rounded-3xl px-8 py-5 mt-5">
        <p class="text-xl text-crimson leading-10 morvarid">مهمان‌نوازی یکی از مهم‌ترین مشخصه‌های ایرانیان است و باعث افتخار ماست که بیش از ۶۰ سال است خدمت‌گزار مردم شریف ایران هستیم. ما در رستوران‌ سرآشپزباشی همواره تلاش کردیم که در محیطی اصیل بر پایه معماری و طراحی مدرن در کنار طبیعتی دلنواز، غذایی سالم و درخور شأن شما عزیزان ارائه دهیم.مهمان‌نوازی یکی از مهم‌ترین مشخصه‌های ایرانیان است و باعث افتخار ماست که بیش از ۶۰ سال است خدمت‌گزار مردم شریف ایران هستیم. ما در رستوران‌ سرآشپزباشی همواره تلاش کردیم که در محیطی اصیل بر پایه معماری و طراحی مدرن در کنار طبیعتی دلنواز، غذایی سالم و درخور شان شما عزیزان ارائه دهیم.</p>
      </div>
    </div>
  </div>
  <!-- <a href="https://web.whatsapp.com/send?phone=989123141900&text=سلام"></a> -->
</section>
